<div class="page-header">
  <h1>マイページ<small>　管理者：<%= current_user.nickname %>さん</small><h1>
</div>
<div class="container">
  <div class="row">
    <%= paginate @posts %>
  </div>
  <%= render 'layouts/image' %>
  <div class="row">
    <%= paginate @posts %>
  </div>
</div>