<!DOCTYPE html>
<html lang="ja">
<head>
	<meta content="text/html", charset="UTF-8">
	<style type="text/css">
	</style>
</head>
<body>
	<h2><%= @order.name %>様</h2>
	<p>この度はご注文頂き誠にありがとうございます。ご注文後の返品及び苦情は<strong
		>どのような場合も受け付けません</strong>のでご了承ください。</p>
	<p>お振込先：ひっかかったな銀行　がっかり支店<br>口座番号：１２３４５６７<br>お振込期限：商品到着後3日以内（到着日含む）</p>
</body>
</html>