<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1>商品一覧</h1>
</div>
<div class="container">
  <div class="row">
    <%= paginate @posts %>
  </div>
  <%= render 'layouts/image' %>
  <div class="row">
    <%= paginate @posts %>
  </div>
</div>